.row {
  display: flex; /* equal height of the children */
  justify-content: center;
}

.column {
  float: left;
  width: 30%;
  background-color: blue;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.grid-container > div {
  display: flex;
  align-items: center;
  height: 40px; /* Set a fixed height for equal height rows */
}
label, input {
  width: 100%;
}
