<div class="p-4 rounded-lg border m-auto w-1/3" [formGroup]="numbersForm">
  <h1 class="text-center text-xl pb-3 font-bold">Wprowadź 6 liczb</h1>
  <div class="grid-container">
    <div class="p-1">
      <label for="numberOne">Liczba pierwsza: </label>
      <input id="numberOne" type="number" formControlName="numberOne" class="p-1 rounded border">
    </div>
    <div class="p-1">
      <label for="numberTwo">Liczba druga: </label>
      <input id="numberTwo" type="number" formControlName="numberTwo" class="p-1 rounded border">
    </div>
    <div class="p-1">
      <label for="numberThree">Liczba trzecia: </label>
      <input id="numberThree" type="number" formControlName="numberThree" class="p-1 rounded border">
    </div>
    <div class="p-1">
      <label for="numberFour">Liczba czwarta: </label>
      <input id="numberFour" type="number" formControlName="numberFour" class="p-1 rounded border">
    </div>
    <div class="p-1">
      <label for="numberFive">Liczba piąta: </label>
      <input id="numberFive" type="number" formControlName="numberFive" class="p-1 rounded border">
    </div>
    <div class="p-1">
      <label for="numberSix">Liczba szósta: </label>
      <input id="numberSix" type="number" formControlName="numberSix" class="p-1 rounded border">
    </div>
  </div>
  <div *ngIf="numberOne?.errors?.['max'] || numberTwo?.errors?.['max'] || numberThree?.errors?.['max']
  || numberFour?.errors?.['max'] || numberFive?.errors?.['max'] || numberSix?.errors?.['max']" class="text-red-500">
    Wprowadzona liczba nie może być większa niż 50
  </div>
  <div *ngIf="numberOne?.errors?.['min'] || numberTwo?.errors?.['min'] || numberThree?.errors?.['min']
  || numberFour?.errors?.['min'] || numberFive?.errors?.['min'] || numberSix?.errors?.['min']" class="text-red-500">
    Wprowadzona liczba nie może być mniejsza niż 1
  </div>
  <div *ngIf="numbersForm?.errors?.['nonUniqueValues'] && numberOne?.touched && numberTwo?.touched &&
 numberThree?.touched && numberFour?.touched && numberFive?.touched && numberSix?.touched" class="text-red-500">
    Wprowadzone liczby nie są unikalne
  </div>
  <div>
    <button type="submit" [disabled]="!numbersForm.valid" (click)="onSubmit()"
            class="p-2 w-full bg-orange-400 text-white hover:bg-orange-800 rounded mt-3">
      Wyślij
    </button>
  </div>
</div>
<!--{{ numbersForm.value | json }}-->
