<div class="container p-4 rounded-lg border m-auto w-1/3">
  <h1 class="text-center text-xl pb-3 font-bold">Logowanie</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Nazwa użytkownika</label>
      <input type="text" id="username" formControlName="username" placeholder="Nazwa użytkownika"
             [ngClass]="{'error-border': username?.invalid && (username?.dirty || username?.touched)}">
      <div *ngIf="username?.invalid && (username?.dirty || username?.touched)" class="error-message">
        <div *ngIf="username?.errors?.['minlength']">
          Nazwa użytkownika musi zawierać minimalnie 6 znaków.
        </div>
        <div *ngIf="username?.errors?.['required']">
          Nie wprowadzono nazwy użytkownika.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Hasło</label>
      <input type="password" id="password" formControlName="password" placeholder="Hasło" autocomplete="on"
             [ngClass]="{'error-border': password?.invalid && (password?.dirty || password?.touched)}">
      <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="error-message">
        <div *ngIf="password?.errors?.['minlength']">
          Hasło musi zawierać minimalnie 8 znaków.
        </div>
        <div *ngIf="password?.errors?.['required']">
          Nie wprowadzono hasła.
        </div>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" [disabled]="!loginForm.valid">Zaloguj</button>
    </div>
  </form>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</div>
