.container {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-top: 15px;
  margin-bottom: 15px;
}

.form-group label {
  margin-top: 5px;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group button {
  width: 100%;
  padding: 10px;
  background-color: rgb(251 146 60);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #9c4221;
}

.error-message {
  color: red;
}

.form-group input.error-border {
  border-color: red;
}
